<h2>Course Info</h2>

<hr>

<form #courseForm="ngForm" (ngSubmit)="save" *ngIf="course">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>

    <div class="col-sm-10">
      <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"
        [ngClass]="{'is-invalid': courseName.invalid}" class="form-control" />

        <div class="invalid-feedback">
          <span>Course name is required</span>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Price:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.price" required name="price" #coursePrice="ngModel"
        type="number" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control" />

        <div class="invalid-feedback">
          <span>Course price is required</span>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.rating" required name="rating" #courseRating="ngModel"
        type="number" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control" />

        <div class="invalid-feedback">
          <span>Course rating is required</span>
        </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" required name="description" #courseDescription="ngModel"
        type="text" [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control">
      </textarea>

      <div class="invalid-feedback">
        <span>Course description is required</span>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mr-2" (click)="save()" [disabled]="courseForm.invalid">Salve</button>
  <button class="btn btn-secondary" routerLink="/">Back</button>
</form>
